body {
    background-color: #ffffff;
}
a {
	margin: 0px;
	padding: 0px;

}
hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
}
/* Main  table CSS */
.mainTable  th, td {
   padding-left: 3px;
   padding-right: 3px;
   text-align: center;
   overflow: hidden;
   border: 1px solid rgba(242, 242, 242, .8);
}
.mainTable {
    border-collapse: collapse;
	display: block;
	overflow-x: auto;
	width: auto;
	max-height: 700px;

}

/* .mainTable tr:nth-child(even) {background-color: #f2f2f2;} */
.mainTable tr:hover {
	background-color: #b3d9ff;
	}
.mainTable tr{
		border: 1px solid rgba(242, 242, 242, .8);
}
.mainTable th {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
	min-width: 150px;
}
.error {
	color: #ff0000;
}

.errorblock{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding:8px;
	margin:16px;
}
div.wrapper {
  text-align: left;
  width: auto;
  overflow: hidden;
  align: center;
  margin: 1%;
}
.table1Container{
	width: 900px;
    float:left; /* add this */

}
.table2Container{
    float: left; /* add this */

}
.headerbar{
    height: 50px;
    background-color:#222;
    text-color: #ffffff;
}
.headerbar brand:hover{color:#fff;background-color:transparent}
.chartsPie{
	display: inline;
}
.navbar-brand{
	color: #fff;
	background-color: transparent;
}
.navbar-brand:hover{color:#fff;background-color:transparent}
h1{
	color: #000000;
}
.navbar-username a{
	color: #fff;

}
/*Login form  */
.loginError {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.loginTable{
	border: 0px solid #000000;
}
.loginTable  tr, td {
   border: 0px solid;
   padding: 0px;
   margin: 0px;
   text-align: left;
}

#login-box {
	width: 500px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}